.error {
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 40rem;
  background-color: #91b291;
  color: #2f5a2f;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(137, 137, 137, 0.405);
}
